<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
    <div class="container main-area">
        <div class="row">
            <div class="col-sm-3 rooms-col">
                <img src="https://avatars2.githubusercontent.com/u/5252949?v=3&s=460" class="img-responsive img-circle">
                <h4 class="text-xs-center">MyNameIsURL</h4>

                <div class="content">

                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="New Room Name" aria-describedby="message-button">
                        <span class="input-group-addon add-btn" id="message-button">Add</span>
                    </div>

                    <h5>Rooms</h5>
                    <ul>
                        <li>Todo Add Item Here</li>
                        <li>Todo Add Item Here</li>
                        <li>Todo Add Item Here</li>
                    </ul>

                    <h5>Direct Messages</h5>
                    <ul>
                        <li>Todo Add Item Here</li>
                        <li>Todo Add Item Here</li>
                        <li>Todo Add Item Here</li>
                    </ul>

                </div>
            </div>
            <div class="col-sm-6 room-col">
                <h4>The Room</h4>
                <div class="text-entry">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Say something..." aria-describedby="message-button">
                        <span class="input-group-addon" id="message-button">ENTER</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 users-col">
                <h4 class="text-xs-center">Users</h4>
            </div>
        </div>
    </div>
<!-- jQuery first, then Bootstrap JS. -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
</body>
</html>